<div id="app">
  <div class="row">

    <div class="col-3">
      <draggable tag="ul" v-model="list" @end="onEnd">
        <transition-group type="transition" :name="'flip-list'">
          <li class="list-group-item" v-for="element in list" :key="element.order">
            {{element.name}}
          </li>
        </transition-group>
      </draggable>
    </div>

  </div>
</div>
