<div id="app">
  {{boardTitle}}

    <div class="row">

      <div class="col-3" v-for="list in lists">
        {{list.title}}
        <draggable v-model="list.cards" :move="onMove" @end="onEnd">
          <transition-group type="transition" :name="'card-list'">
            <li class="list-group-item" v-for="card in list.cards" :key="card.position" @click="openCard(card)">
              {{card.title}}
            </li>
          </transition-group>
        </draggable>

        <li class="list-group-item">
          <div v-if="showNewCard">
            <input type="text" v-model="newCard.title"/>
            <a class="btn btn-success" @click="createCard(list)">
              New card
            </a>
          </div>
          <div v-else>
            <a class="btn btn-secondary" @click="openNewCard">
              + add item
            </a>
          </div>
        </li>
      </div>

  </div>

  <div v-if="showCard">
    <div v-if="card">
      <input v-model="card.title"/>
      <input v-model="card.description"/>
      <a class="btn btn-success" @click="updateCard(card)">
        Save
      </a>
    </div>
    <div v-else>
      loading
    </div>
  </div>
</div>
