<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-12">
      <h1>
        <input @change="updateBoard" type="text" v-model="boardTitle" class="board-title transparent"/>
      </h1>
    </div>
  </div>

  <list :lists="lists"></list>
</div>
