<div class="container-fluid" id="app">
  <div class="row">
    <div class="col-12">
      <h1>
        <input @change="updateBoard" type="text" v-model="boardTitle"/>
      </h1>
    </div>
  </div>

  <draggable  v-model="lists" :move="onMoveList">
    <transition-group class="row px-2" type="transition" :name="'list-list'">
      <div class="col-2" v-for="list in lists" :key="list.position">
        <div class="card bg-light mr-2">
          <div class="card-header">
            <input @change="updateList(list)" type="text" v-model="list.title"/>
          </div>
        </h5>
        <draggable tag="ul" class="list-group list-group-flush" v-model="list.cards" :move="onMoveCard" @end="onEnd">
          <transition-group type="transition" :name="'card-list'">
            <li class="list-group-item mx-1 mb-2" v-for="card in list.cards" :key="card.position" @click="openCard(card)">
              {{card.title}}
            </li>
          </transition-group>
        </draggable>

        <div class="card-footer">
          <div v-if="showNewCard">
            <div class="input-group">
              <input type="text" v-model="newCard.title" class="form-control mb-2" placeholder="Add card title"/>
            </div>
            <button class="btn btn-success" @click="createCard(list)">
              New card
            </button>
            <button type="button" class="close" aria-label="Close" @click="toggleNewCard">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div v-else>
            <button class="btn btn-light" @click="toggleNewCard">
              + Add card
            </button>
          </div>
        </div>
      </div>
    </transition-group>
  </draggable>

  <div v-if="showCard">
    <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div v-if="card">
            <div class="modal-header">
              <h5 class="modal-title">
                <div class="input-group">
                  <input @change="updateCard(card)" v-model="card.title" class="form-control"/>
                </div>
              </h5>
              <button type="button" class="close" aria-label="Close" @click="closeCard">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <textarea @change="updateCard(card)" v-model="card.description" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div v-else>
            loading
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop show"></div>
  </div>
</div>
