<div id="app">
  <p>{{ message }}</p>

  <%= @board.title %>

  <% @board.lists.each do |list|%>
    <%= list.title %>

    <draggable draggable=".item">
      <% list.cards.each do |card| %>
          <div class="item">
            <%= card.title %>
          </div>
      <% end %>
    </draggable>

  <% end %>
</div>
