@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/bootstrap';


$background-color: #0178bf;

html {
  background: $background-color;
}

.container-fluid {
  background: $background-color;
}

.list-group-item {
  cursor: pointer;
}

input.transparent {
  background: none;
  border: none;
  &:focus {
    background: white;
  }
}

.checklist-item--done {
  &:not(:focus) {
    text-decoration: line-through;
  }
}
